@media (max-width:950px) {
  .footer__dog{
    display: none;
  }
  .footer__inner{
    justify-content: space-around;
  }
}
@media (max-width:820px) {
  .main__text--paragraph{
    max-width: 250px;
  }
  .visible-lg {
    display: none;
  }

  .m-menu-link {
    display: block;
  }
}
@media (max-width:630px) {
  .main {
    background-image:none;
  }
  .main__text--paragraph {
    max-width: 400px;
  }
  .ourfriends__card{
    margin: 0 auto;
  }
  .ourfriends__cards {
    width: 60%;
  }
  .donation__text{
    width: 100%;
  }
  .about__text--title {
      width: 70%;
  }
  .about__text{
    width: 70%;
  }
}
@media (max-width:420px) {
  .ourfriends__cards {
    width: 80%;
  }
  .block-title{
    font-size: 25px;
  }
}