*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  z-index: 999;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo--title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  color: #f1cdb3;
  margin: 0;
}

.header__logo--subtitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.navigation__link {
  font-family: Arial, Helvetica, sans-serif;
  color: #cdcdcd;
  text-decoration: none;
  margin-right:  30px;
}

.navigation__link:last-child{
  margin-right: 0;
}

.main {
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position:right  top;
  background-size:80% 100%;
}
.main__overlay{
  opacity: .2;
  height: 100vh;
  width: 100%;
  position: absolute;
}
.main__inner {
display: flex;
justify-content: space-between;
}

.main__text {
  z-index: 999;
}

.main__text--title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 44px;
  width: 40%;
}

.text {
  width: 40%;
}